.nav {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
   
   
    background-color: #4576dfe1;
  color: #00f2ff;
    
}
.nav a{
    text-decoration: none;
    color: #f8fafc;
}
.nav a:hover {
  color: #080a0b;
}
.nav:hover{
  background-color: #5a7ecbe1;
  color: #00f2ff;
}
.ha{
    color:rgb(63, 185, 132);
}
@media screen and (max-width:900px){
    .nav{
      position:sticky;
      top:0px;
      z-index:1000;
    }
    .nav a{
      display:none;
      text-align: center;
    }
    .nav header{
      font-size:80px;
    }
    .ha{
      
       font-size:60px;
    }
}